.card {
  display: grid;
  grid-template-columns: 1fr 1.618fr auto;
  box-shadow: 0 0.25rem 0.5rem rgb(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  max-width: 32rem;
}

.media {
  height: 100%;
  max-width: 100%;
  border-radius: 0.25rem 0 0 0.25rem;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
}

@media (max-width: 768px) {
  .media {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.main {
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.75rem 1rem;

  h2,
  p {
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  h2 {
    font-weight: bold;
    color: var(--color-primary);
  }
  p {
    font-size: 0.75rem;
    font-style: italic;
    color: #967259;
  }
}

.date {
  font-size: 0.625rem;
  font-style: italic;
  color: gray;
}

.score {
  display: flex;
  align-items: end;
  font-size: 1.25rem;
  color: var(--color-secondary);
  overflow: hidden;

  em {
    color: gray;
    font-size: 0.75rem;
    font-style: italic;
    padding-left: 0.25rem;
  }
}

.actionButtonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #d3d3d3;
  font-size: 1.25em;
  cursor: pointer;

  .button {
    padding: 0.5rem 0.75rem;
  }

  .settingsButton {
    color: var(--color-secondary);
    border-bottom: 0.1rem solid #d3d3d3;
    border-left: 0.1rem solid #d3d3d3;
    border-radius: 0 0 0 0.25rem;
  }

  .favoriteButton {
    color: #d3d3d3;
    border-top: 0.1rem solid #d3d3d3;
    border-left: 0.1rem solid #d3d3d3;
    border-radius: 0.25rem 0 0 0;

    .favorite {
      color: darkred;
    }
  }
}
