.container {
  display: flex;
  max-width: 640px;
  background-color: var(--color-white);
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  margin: 1rem auto 0;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
}
