.category-selector {
  display: flex;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
  background-color: #f2f2f2;
  z-index: 1;

  border-bottom: 0.05rem solid #8c8c8c;

  p {
    font-weight: bold;
  }
}

.category-carousel {
  display: flex;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  gap: 1rem;
  overflow-x: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.category-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.reset-category-btn {
  border: none;
  background-color: transparent;
  color: #38220f;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.carousel-item {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  background-color: #ece0d1;
  color: #38220f;
  cursor: pointer;
  border: #38220f 0.1rem solid;
  white-space: nowrap;
  box-shadow: 0.125rem 0.25rem 0.5rem rgb(0, 0, 0, 0.15);
  transition: all 0.3s;

  &:hover,
  &.active {
    background-color: #38220f;
    color: #ece0d1;
  }
}
