.grid {
  display: grid;
  gap: 1rem;
  padding: 1rem;
}

@media screen and (min-width: 520px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.notFound {
  grid-column: 1 / -1;
}
