.filter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: center;
  gap: 0.25rem 1rem;
  padding: 1rem 0.75rem;
  background-color: var(--color-white);
  z-index: 1;

  p {
    font-weight: bold;
  }
}
