.navigation {
  display: grid;
  position: fixed;
  bottom: 0;
  left: 0;
  grid-template-columns: repeat(4, 1fr);
  width: 100vw;
  overflow-x: hidden;
  background-color: var(--color-white);
  border-top: 0.05rem solid var(--color-grey);
  height: 4rem;

  font-family: Arial, Helvetica, sans-serif;
}

.iconContainer {
  display: grid;
  place-items: center;
  max-height: 4rem;
  overflow: hidden;

  .link,
  .active {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
  }

  .link {
    color: var(--color-grey);
  }

  .active {
    color: var(--color-primary);
    background-color: var(--color-secondary);
  }
}
