:root {
  font-family: Arial, Helvetica, sans-serif;
  font-family: "Nunito Sans", sans-serif;
}

#main {
  min-height: calc(100vh - 4rem);
}

.home-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  background-image: url("/coffee_beans.jpg");
  background-position: center;
  background-size: cover;
  background-position-y: 20%;
}

h1 {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;

  padding: 1rem 0.5rem;
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(0.25rem);

  em {
    color: #dbc1ac;
  }
}

.page {
  display: grid;
  place-items: center;
  padding: 2rem;
  gap: 1rem;
}

.margin-div {
  height: 4rem;
}
